In [1]:
#1)wap to print "hello world" in shell
print("hello world")

hello world

In [2]:
#2)wap to print "hello world".
print("hello")

hello

In [3]:
#3)wap to initialize multivariables and assigning multivalues corresponding to 150,120,250.

a,b,c=150,120,250
print("The values of a=",a," b=",b," c=",c)

The values of a= 150  b= 120  c= 250

In [4]:
# 4)wap to to initialize  a var and different DT values

a=10
print(a)
a=10.6
print(a)
a=10+3j
print(a)
a=True
print(a)
a=b'1010'
print(a)
a=None
print(a)
a=10,20,30,40
print(a)
a=(10,20,30,40)
print(a)
a=[10,20,30,40]
print(a)
a={10,20,30,40}
print(a)
a={10:20,30:40}
print(a)

10
10.6
(10+3j)
True
b'1010'
None
(10, 20, 30, 40)
(10, 20, 30, 40)
[10, 20, 30, 40]
{40, 10, 20, 30}
{10: 20, 30: 40}

In [5]:
#5)wap to print type of the data of the given value
a={1,2,3,4,7,8}
print(type(a))

<class 'set'>

In [6]:
#6)wap to print address of the memory block
a=10
print(id(a))

2264854888976

In [7]:
#7)wap to print your details first store you details then extract them
#3 concepts to fetch
#variable concep
name="moon"
age=22
phone=9876543216                              # need to use variable for every detail to fetch
email="sukihime@gmail.com"

#list concep
moon=['moon',22,9876543215,"sukihime@gmail.com"]          # can befetch using indexing but need to remember each indexposition of details

#dict concep
moon={"Name": "moon", "age": 22,"Phone Number":9876543216}
print("the age of mooon is",moon["age"])

the age of mooon is 22

In [8]:
#8)wap to swap the variablesn with using temp var
x="haii"
y="hello"
print(x,y)
temp=x
x=y
y=temp
print(x,y)

haii hello
hello haii

In [9]:
#9)wap to swap the variablesn without using temp var
m=[1,2,3,4]
n=(10,20,30,40)
print(m,n)
m,n=n,m
print(m,n)

[1, 2, 3, 4] (10, 20, 30, 40)
(10, 20, 30, 40) [1, 2, 3, 4]

In [10]:
#10)wap to initialize a value and point it, then reinitialize the new value in to the existing  variable
a={1:547}  #initialize
print(a[1]) #fetch
a[1]=200   #modify
print(a)
a=1,2,3,4   #reinitialize
print(a)
a+=20,30,40  #concat
print(a)
del a     #deletion
print(a)

547
{1: 200}
(1, 2, 3, 4)
(1, 2, 3, 4, 20, 30, 40)

NameError: name 'a' is not defined

In [11]:
#11)Wap to convert single to multi value data
a=10
a=str(a)
print(a)

10

In [12]:
#12)Wap to concat the two multivalue data types (str,list,tuple)
#str
x="hello"
x+='world'
print(x)

#list
y=[10,20,30]
y+=[40,50,60]
print(y)

#tuple
s=(10,20,30)
s+=(40,50)
print(s)

helloworld
[10, 20, 30, 40, 50, 60]
(10, 20, 30, 40, 50)

In [13]:
#13)Wap to check the length of collection
s={10,20,30,40,50}

print(len(s))

5

In [14]:
#14)Wap to check find out the middle value of the given collection
l=[10,20,30,40]
print(l[len(l)//2])

30

In [3]:
#15)Wap to concat the new string into starting of given string
a="how are you"
b="haii "
print(b+a)

haii how are you

In [16]:
#16)Wap to concat the new string into ending of given string

a="str"
b="ing"
a=a+b
print(a)

string

In [17]:
#17)Wap to concat the new string into middle of given string

a="hello world"
b="bye"
print(a[0:6]+b+a[5:])

hello bye world

In [18]:
#18)wap to modify the new char in to the middle of given string
s="pyspiders"
print(s)
t=s[len(s)//2]
print(t)
s=s[0:len(s)//2]+"I"+s[(len(s)//2)+1:]
print(s)

pyspiders
i
pyspIders

In [19]:
#19)Wap to modify the sequence of character in given string
s="pyspiders"
print(s[0:3]+"PID"+s[6:])

pysPIDers

In [20]:
#20)Wap to delete the specific chaaracter in given string

s="pyspiders"
print(s)
print(s[:-4]+'D'+s[-3:])

pyspiders
pyspiDers

In [21]:
#21)wap to delete a specific character in a given string
s="pyspiders"
print(s[:2]+s[3:])

pypiders

In [22]:
#22)wap to delete sequence of characters in a given string
s='pyspiders'
print(s[:3]+s[-3:])

pysers

In [23]:
#23)wap to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

hai hai are you

In [24]:
#24)wap to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [25]:
#25)wap to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [26]:
#26)wap to concat new value into middle of given list
s=[10,10.12,True ,'hai']
s[len(s)//2:len(s)//2]=['a','b']
print(s)

[10, 10.12, 'a', 'b', True, 'hai']

In [27]:
#27)wap to concat new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[2:2]=['hai']
print(s)

[10, 10.12, 'hai', True, 'hai']

In [28]:
#28)wap to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

[10, True, True, 'hai']

In [29]:
#29)wap to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

[{'a': 20}, 10.12, True, 'hai']

In [30]:
#30)was to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

[10, 10.12, True, 'qspiders']

In [31]:
#31)wap to modify the new value into middile of list
l=[10,10.6,True,'haii']
l[len(l)//2]="hello"
print(l)

[10, 10.6, 'hello', 'haii']

In [32]:
#32)wap to modify the first 4 positions of given list
l=[1,2,3,4,5,6,7,8]
l[0:4]=['a','b','c',]
print(l)

['a', 'b', 'c', 5, 6, 7, 8]

In [33]:
#33)wap to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [34]:
#34)wap to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [35]:
#35)wap to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [36]:
#36)wap to delete new value at startinf of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [37]:
#37)wap to delete new value in the middle of the list
s=[1,2,3,4,5,6]
print(s)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [38]:
#38)wap to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [39]:
#39)wap to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [40]:
#40)wap to concatenate the new value at the ending of tuple
t=(1,2,3,4,5)
print(t)
t+=('a','b')
print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'a', 'b')

In [41]:
#41)wap to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:1]+('modified',))

(10, 'modified')

In [42]:
#42)wap to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [43]:
#43)wap to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

{50, 20, 40, 10, 30}

In [44]:
#44)wap to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

{10, 30}

In [45]:
#45)wap to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value
e={60:70,80:90}
d|=e
print(d) #to add multiple values at a time

{10: 20, 20: 30, 40: 50, 50: 309}
{10: 20, 20: 30, 40: 50, 50: 309, 60: 70, 80: 90}

In [46]:
#46)wap to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

{10: 20, 40: 50}

In [47]:
#47)wap to specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

{10: 200, 20: 30, 40: 50}

In [48]:
#48)wap to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

[10, 10.12, True, 'string', 'a', 'b']

In [49]:
#49)wap to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

[10, 10.12, True, 'string', 'a', 'b']

In [50]:

# 50)wap to concat list and tuple by using the compound assignment

l=[10,20,30,40]
l+=("a","b","c","d")
print(l)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [51]:
# 51)wap to check given number is divisible by the 3

n=6
print(n%3==0)

True

In [52]:
    
#52)wap to check the given number is diisible by 2 and 6

n=21
print(n%2==0 and n%6==0)


n=24
print(n%2==0 and n%6==0)

False
True

In [53]:
# 53)wap to extract the last digit of the number and check it is divisible by 3

n=1997
rem=n%10
print(rem%3==0)

n=1996
rem=n%10
print(rem%3==0)

False
True

In [54]:
# 54)wap to extract the the last int by using the type casting

s=2029
n=str(s)
print(int(n[-1]))

9

In [55]:
# 55)wap to check the given number is greater than 150

n=151
print(n>150)

n=140
print(n>150)

True
False

In [56]:
#56)wap to check the given number is greater than or equal to 100

n=100
print(n>=100)

s=132
print(s>=100)

a=99
print(a>=100)

True
True
False

In [57]:
# 57)wap to check the given number is greater than 16 and less than 24

n=20
print(n>16 and n<24)


n=25
print(n>16 and n<24)


n=23
print(16<n<24)

True
False
True

In [58]:
# 58)wap to check the number is less than or equal to 100

n=100
print(n<=100)


n=101
print(n<=100)


n=90
print(n<=100)

True
False
True

In [1]:
#59)wap t0 check the given number is greater than 15 and less than 24.
a=22
print(a>15 and a<24)
#gives operation 2 result

True

In [59]:
# 60)wap to check the given is is even

n=121
print(n%2==0)


n=256
print(n%2==0)

False
True

In [60]:
# 61)wap to check the number is odd

n=233
print(n%2!=0)


n=122
print(n%2!=0)

True
False

In [61]:
# 62)wap to perform the replication of the string

a="str"
print(a*5)

a=[10,20,30]
print(a*5)

a=("a","b","c")
print(a*4)

strstrstrstrstr
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [62]:
# 63)wap to check the given number is greater than 22 and divisible by 3

n=29                                                                                                                                                
print(n>22 and n%3==0)


s=24
print(s>22 and s%3==0)

False
True

In [63]:
# 64)wap to check the length of the collection is even or not

s="python is a programming language"
print(len(s)%2==0)



s=[1,2,3,4,5,6,90]
print(len(s)%2==0)

True
False

In [64]:
# 65)wap to perform the length of the collection is less than 55 and greater than 16

s="python is a highlevel programming language"
len(s)>16 and len(s)<55

print(22<len(s)<55)

True

In [65]:
# 66)wap to perform the the given collection is divisible by 5 and it is odd

s="python is a programming language"
print(len(s)%5==0 and len(s)%2!=0)


t="programming lan"
print(len(t))
print(len(t)%5==0 and len(t)%2!=0)

False
15
True

In [66]:
# 67)wap to extract the middle position of the given collection and either it is (str,list,tuple)

l="hello"
l=len(l)//2
print(type(l))

<class 'int'>

In [67]:
#68)wap to check the given number is greater than 30 and less than 20 and divisible by 2

n=25
print(20<n<30 and n%2==0)

 
n=28
print(20<n<30 and n%2==0)

False
True

In [68]:
# 69)wap to check the number is less than 120 and even

n=108
print(n<120 and n%2==0 )


n=153
print(n<120 and n%2==0)

True
False

In [69]:
# 70)wap to check the number is even and present between 40 and 70

n=56
print(40<n<70 and n%2==0)


n=61
print(40<n<70 and n%2==0)

True
False

In [70]:
# 71)wap to check the number is odd and greater than 97
n=101
print(n>97 and n%2!=0)

True

In [71]:
# 72)wap to check the number is greater than 46 and less than 122 and divisible by 4

n=72
a=46<n<122 and n%4==0
print(a)

n=45
a=46<n<122 and n%4==0
print(a)

True
False

In [72]:
# 73)wap to check the given number is divisible by both 3 and 5,display value

n=60
a=n%3==0 and n%5==0
print(a)

n=40
b=n%3==0 and n%5==0
print(b)

True
False

In [73]:
#74)wap to check the number between 100 and 200 including the limit

n=120
a=100<n<200
print(a)

True

In [74]:
#75)wap to check the number between 100 and 200 

n=51
a=100<n<200
print(a)

n=190
a=100<n<200
print(a)

False
True

In [72]:
#76)wap to check the given string last character ASCII value should be divisible 5 or not

s="python"
print(ord(s[-1])%5==0)
s="ahammad"
print(ord(s[-1])%5==0)

True
True

In [78]:
# 77)wap to check the number is between 80 and 130 and should be divisible by 3 and 4 ,last digit should be less than 9

n=120
print(80<n<130 and n%3==0 and n%4==0 and n%10<9)
print(80<n<130 and n%3==0 and n%4==0 and n%10>9)

True
False

In [85]:
# 78)wap to check the number is even or less than 25

n=18
print(n%2==0 or n<25)

n=29
print(n%2==0 or n<25)

n=23
print(n%2==0 or n<25)

True
False
True

In [84]:
# 79)wap to check the number even or greater than 25

n=24
print(n%2==0 or n>25)

n=26
print(n%2==0 or n>25)

n=23
print(n%2==0 or n>25)

True
True
False

In [88]:
# 80)wap to check the number is divisible by either 3 or 5

n=30
print(n%3==0 or n%5==0)

n=36
print(n%3==0 or n%5==0)

n=70
print(n%3==0 or n%5==0)

n=62
print(n%3==0 or n%5==0)

True
True
True
False

In [56]:
#81)wap to check given number is not a even number
n=20
print(n%2!=0)
n=21
print(n%2!=0)

False
True

In [62]:
#82)wap to check given number is not a odd number
n=40
print(n%2==0) 
n=41
print(n%2==0)

True
False

In [57]:
#83)wap to check number is not divisble by 3
n=31
print(n%3!=0)
n=33
print(n%3!=0)

True
False

In [59]:
#84)wap to check the given number is not divisible by 3 and 5
n=15
print(n%3!=0 and n%5!=0) 
n=38
print(n%3!=0 and n%5!=0)

False
True

In [60]:
#85) wap to check the given number is not divisble 3 or 5
n=33
print(n%3!=0 or n%5!=0 )
n=45
print(n%3!=0 or n%5!=0 )
n=11
print(n%3!=0 or n%5!=0 )

True
False
True

In [61]:
#86)wap to check given character ascii value is not divisible by 5
char='A'
print(ord(char)%5!=0) 
char='B'
print(ord(char)%5!=0)

False
True

In [63]:
#87)wap to check to find out the ascii character of given number
n=99
print(chr(n))
n=88
print(chr(n))

c
X

In [64]:
#88)wap to check find out the ascii value in a given character
char='b'
print(ord(char))
char='c'
print(ord(char))

98
99

In [65]:
#89)wap to check given character is uppercase or not
char='A'
print('A'<= char<='Z')
char='z'
print('A'<= char<='Z')
char='BC'
print( len(char)==1 and 'A'<= char<='Z')
char='Abcd'
print( len(char)==1 and 'A'<= char<='Z')
char='F'
print( len(char)==1 and 65<= ord(char)<=90)

True
False
False
False
True

In [66]:
#90)wap to check the character is lowercase
char='c'
print('a'<= char<='z')
char='BC'
print( len(char)==1 and 'a'<= char<='z')
char='g'
print( len(char)==1 and 'a'<= char<='z')

True
False
True

In [8]:
#91)wap to check char is alphabet
ch='a'
print('A'<=ch<='Z' or 'a'<=ch<='z')

print(len(ch)==1 and ('A'<=ch<='Z' or 'a'<=ch<='z'))
ch='0'
print(len(ch)==1 and ('A'<=ch<='Z' or 'a'<=ch<='z'))

True
True
False

In [11]:
#92)wap to check given character is ACSII number
ch='5'
print('0'<=ch<='9')
print(len(ch)==1 and '0'<=ch<='9')
ch='A'
print(len(ch)==1 and '0'<=ch<='9')

True
True
False

In [14]:
#93)wap to check given char is special character
ch='$'
print('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
print(not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))
ch='@'
print(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127)

False
True
True

In [18]:
#94)wap to check the given char is not a uppercase
ch='A'
print(not('A'<=ch<='Z' ))
ch='a'
print(not('A'<=ch<='Z' ))

False
True

In [19]:
#95)wap to check the given character should not be lowercase.
ch='A'
print(not('a'<=ch<='z' ))
ch='a'
print(not('a'<=ch<='z' ))

True
False

In [21]:
#96)wap to check the given character should not be the alphabet.
ch='a'
print(not('A'<=ch<='Z' or 'a'<=ch<='z'))
print(not(len(ch)==1 and ('A'<=ch<='Z' or 'a'<=ch<='z')))
ch='0'
print(not(len(ch)==1 and ('A'<=ch<='Z' or 'a'<=ch<='z')))

False
False
True

In [41]:
#97)wap to check the given character should not be an ASCII number.
ch='a'
print(not(ord(ch)>= 48 and ord(ch) <= 57))

True

In [46]:
#98)wap to check the given character should not be a special character.
ch='a'
print('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
ch='@'
print(not(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127))

True
False

In [52]:
#99)wap to check the given character is a vowel.
ch='A'
print(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u')
ch='b'
print(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u')
ch='u'
print(ch in "AEIOUaeiou")
ch="g"
print(ch in "AEIOUaeiou")

True
False
True
False

In [54]:
#100)wap to check the given character is a consonant.
ch="g"
print(not(ch in "AEIOUaeiou"))
ch="a"
print(not(ch in "AEIOUaeiou"))

True
False

In [3]:
#101)wap to convert uppercase to lowercase in a given character.
ch='A'
print(chr(ord(ch)+32))
ch='Q'
print(ch.lower())

a
q

In [5]:
#102)wap to convert lowercase to uppercase in a given character.
ch='b'
print(chr(ord(ch)-32))
ch='z'
print(ch.upper())

B
Z

In [2]:
#103)wap to extract the previous character in the given character
ch="b"
print(ch)
print(chr(ord(ch)-1))

b
a

In [6]:
#104)wap to extract the next character in the given character
ch="b"
print(ch)
print(chr(ord(ch)+1))

b
c

In [15]:
#105)wap to check the given character is converted to ASCII value is even as well as character should be lowercase.
ch='r'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')
ch='A'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')

True
False

In [14]:
#106)wap to check the given character is converted to ASCII value is odd as well as character should be upperrcase.
ch="A"
print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z')
ch="b"
print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z')

True
False

In [21]:
#107)wap to check the given number is converted into char is not a special symbol or not
n=38
print('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')
n=57
print('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')

False
True

In [26]:
#108)wap to check given num of ASCII character is vowel or not.
n=65
print(chr(n) in 'aeiouAEIOU')
n=68
print(chr(n) in 'aeiouAEIOU')

True
False

In [28]:
#109)wap to check  1st and 2nd character are in sequence or not.

ch='abdc'
print(ord(ch[0])+1==ord(ch[1]))
ch='adbc'
print(ord(ch[0])+1==ord(ch[1]))

True
False

In [86]:
#110)wap to check given char ASCII value should be either greater than 50 and less than 112.
ch='0'
print(ord(ch)>50 or ord(ch)<112)
ch='z'
print(ord(ch)>50 or ord(ch)<112)

True
True

In [35]:
#111)wap to given number is increased by 1.
m=10
m+=1
print(m)
m=120
m+=1
print(m)

11
121

In [37]:
#112)wap to given number is increased by 2.
m=110
m+=2
print(m)
m=420
m+=2
print(m)

112
422

In [36]:
#113)wap to given number should be decreased by 1.
m=210
m-=1
print(m)
m=120
m-=1
print(m)

208
118

In [38]:
#114)wap to given number should be decreased by 3.
m=210
m-=3
print(m)
m=120
m-=3
print(m)

207
117

In [39]:
#115)wap to check given integer number is present on collection or not.
n=10
col=[10,20,30,40]
print(n in col)

True

In [40]:
#116)wap to check perform addition operation on A value and B value and final result should be updated.
A=10
B=20
A=A+B
print(A)

30

In [46]:
#117)wap to check given value is present in the collection.
val='D'
col='PYSPIDERS'
print(val in col)
st='hai'
coll={10,'hai',(10,20),(10,'hai')}
print(st in coll)

True
True

In [63]:
#118)wap to check the given list is present in the list.
list2 = 3
list1 = [1, 2, 3, 4, 5,[3,4]]
print(list2 in list1)

True

In [71]:
#119)wap to check given dict value is present in tuple.
val={'a':10}
tup=('a',10,('b',10),('c',10))
print(val in tup)

False

In [ ]:
# 120 to check the given val is int or not

b=15
print(type(b)==int)

b=15.00
print(type(b)==int)

In [ ]:
# 121 o check the given val is string or not

a="str"
print(type(a)==str)

a="101"
print(type(a)==str)

a=10.2
print(type(a)==str)

In [ ]:
# 122 to check the given val is single val dt  not

a=12.23
print(type(a) in[int,float,complex,bool,bytes,type(None)])

a=12
print(type(a) in[int,float,complex,bool,bytes,type(None)])

a=2+3j
print(type(a) in[int,float,complex,bool,bytes,type(None)])

a=b'1011'
print(type(a) in[int,float,complex,bool,bytes,type(None)])

a=None
print(type(a) in[int,float,complex,bool,bytes,type(None)])

a="None"
print(type(a) in[int,float,complex,bool,bytes,type(None)])

In [ ]:
# 123 to check the given val is should not a single val dt

a=12.23
print(not(type(a) in[int,float,complex,bool,bytes,type(None)]))

a="None"
print(not(type(a) in[int,float,complex,bool,bytes,type(None)]))

In [ ]:
# 124 to check the given value is multi value data type or not

a=[10,20,30]
print(type(a) in [list,tuple,str,set,dict])

a=(10,20,30)
print(type(a) in [list,tuple,str,set,dict])

a="hello"
print(type(a) in [list,tuple,str,set,dict])

a={10,20,30}
print(type(a) in [list,tuple,str,set,dict])

a={10:20,30:40}
print(type(a) in [list,tuple,str,set,dict])

a=(100200)
print(type(a) in [list,tuple,str,set,dict])

In [ ]:
# 125 to check the given value is mutable or not


a=[10,20,30]
print(type(a) in [list,set,dict])

a=(10,20,30)
print(type(a) in [list,set,dict])

a="hello"
print(type(a) in [list,set,dict])

a={10,20,30}
print(type(a) in [list,set,dict])

a={10:20,30:40}
print(type(a) in [list,set,dict])

a=(100200)
print(type(a) in [list,set,dict])

In [ ]:
# 126 to check the given value is immutable or not


a=[10,20,30]
print(type(a) in [tuple,str])

a=(10,20,30)
print(type(a) in [tuple,str])

a="hello"
print(type(a) in [tuple,str])

a={10,20,30}
print(type(a) in [tuple,str])

a={10:20,30:40}
print(type(a) in [tuple,str])

a=(100200)
print(type(a) in [tuple,str])

In [ ]:
# 127 to check the value is divisible by 6 and present inside the collection or not

n=120
n%6==0 and n in [10,20,30,40,120]

n=12
n%6==0 and n in [10,20,30,40,120]

n=20
n%6==0 and n in [10,20,30,40,120]

In [ ]:
# 128 to perform the bitwise and operation  in the given values are 15 and 19

print(15 and 19)

In [ ]:
# 129 to perform the bitwise or operation  in the given values are 115 and 79

print(115 or 79)

In [ ]:
# 130 to perform the bitwise xor operation  in the given values are 56 and 22

print(56^22)

In [85]:
# 131 to perform the bitwise not operation  in the given value are 15 

print(~15)

-16

In [ ]:
# 132 to perform the bitwise leftshift operation 32 and skips val 3

print(32<<3)

In [ ]:
# 133 to perform the bitwise rightshift operation 25 and skips val 2

25>>2

In [ ]:
#134 find out the output of the condition

(10+20*60 and 10**3) or ({10,20} or not([15-16]))

In [74]:
#135)wap to check given key is present in dict.
d={'a':10,'hai':'bye'}
k=10
print(k in d)
k='a'
print(k in d)

False
True

In [78]:
#136)wap to check given value is present in dict or not 
d={'a':10,'hai':'bye'}
k=10
print(k in d)
k=10
print(k in d.values())

False
True

In [80]:
#137)wap to check given value is not present in dict 
d={'a':10,'hai':'bye'}
k=100
print(k in d.values())
k=10
print(k in d.values())

False
True

In [82]:
#138)wap to check key value par present inside the dict or not.
d={'a':10,'hai':'bye',20:30,40:50}
k=(20,30)
print(k in d)
print(k in d.items())

False
True

In [3]:
#139wap to check two values pointed to same address or not
a=15
b=15
print(a is b)
a=10
b=15
print(a is b)

True
False

In [84]:
#140)wap to check the both values should be integer and both values are pointing to the same address
a=10
b=10
print(a is b)
a=10.6
b=10.6
print(a is b)

True
False