In [4]:
import sqlite3 as sq
# db=sq.connect("employee.db")
# print(db)
# cus=db.cursor()
# print(cus)
# cus.execute("create table employee(id int,name varchar(20))")
# # cus.executemany("create table employee(id int,name varchar(20))")
# cus.fetchall()

In [2]:
import sqlite3 as sq
db=sq.connect("student.sqlite3")
cur=db.cursor()

In [3]:
query='''create table student(sid int primarykey,name varchar(20),age int,email varchar(30) unique,phone Bigint unique,address vaerchar(100),marks int)'''
cur.execute(query)
print(cur.rowcount,"heading column created")
# db.close()

-1 rows affected

In [4]:
def insert_record(sid,name, age, email, phone, address, marks):
    query = '''insert into student(sid,name,age,email,phone,address,marks)
    values (?,?,?,?,?,?,?)'''
    val = [sid, name, age, email, phone, address, marks]
    cur.execute (query, val)
    print(cur.rowcount,"row created")
    db.commit()
insert_record(int(input("enter stid")),
              input("enter name"),
              int(input("enter age")),
              input("enter email"),
              int(input("enter phone")),
              input("enter address"),
              int(input("enter marks")))

1 row created

In [35]:
def fetch_record():
    query='''select * from student'''
    cur.execute(query)
    details=cur.fetchall()
    for i in details:
        print(i)
fetch_record()

In [31]:
def update_record(sid,phone,name):
    query='''update student set phone=?,name=? where sid=?'''
    val =[phone,name,sid]
    cur.execute(query,val)
    print(cur.rowcount,"the values are updated")
    db.commit()

update_record(int(input("enter sid")),int(input("enter phone")),input("enter name"))

1 the values are updated

In [34]:
def delete_record(sid):
    query='''delete  from student where sid=?'''
    val=[sid]
    cur.execute(query,val)
    print(cur.rowcount,"the values are deleted")
    db.commit()
delete_record(int(input("enter sid")))

1 the values are deleted